* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    min-height: 100vh;
    margin: 0;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #3AA74C;
    border: none;
    border-radius: 0.50em;
    margin: 1em 0.5em 1em 3em;
    padding: 0.5em 0.75em 0.5em 0.75em;
    font-weight: 700;
}

#joinGameButton {
    margin: 1em 0.5em 1em 5em;
}

#or {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}
#canvas {
    background: #f0f0f0;
    border-radius: 5px;
}

#source {
    display: none;
}
